@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #137736; /* Poker table green */
  color: white;
  font-family: "Arial", sans-serif;
}

.container {
  height: 100vh; /* Full height */
}

.card {
  width: 180px;
  height: 250px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for absolute positioning of icons */
}

.card-icon {
  position: absolute;
  font-size: 2em; /* Larger icons */
}

.top-left {
  top: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg); /* Rotate the bottom icon */
}

.card-number {
  font-size: 3rem;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #daa520;
}
