body {
  background-color: #137736; /* Poker table green */
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-icon {
  position: absolute;
  font-size: 3rem;
}

.top-left {
  top: 8px;
  left: 8px;
}

.bottom-right {
  bottom: 8px;
  right: 8px;
  transform: rotate(180deg);
}

.card-number {
  font-size: 4rem;
}

.controls input,
.controls button {
  text-align: center;
}

.alert {
  width: 80%;
  margin-top: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #545b62;
  border-color: #4e555b;
}
